<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>それいけイーゴ！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="{{ url_for('static', filename='js/lib/enchant.js') }}"></script>
    <!-- script src="./js/lib/tl.enchant.js"></script ver0.6.0以前のenchant.jsを使う場合はこのプラグインを読み込んでください -->
    <!--<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
    <style>
      body {
        padding: 0;
        margin:  0;
        background-color: #000;
      }
    </style>
    <script>
    enchant();

window.onload = function() {

    var game_ = new Game(320, 320); // 表示領域の大きさを設定
    game_.fps = 24;                 // ゲームの進行スピードを設定
    game_.preload('{{ url_for('static', filename="img/start.png") }}','{{ url_for('static', filename="img/title.png") }}','{{ url_for('static', filename="img/retry_button.png") }}','{{ url_for('static', filename="img/eago1.png") }}','{{ url_for('static', filename="img/eago2.png") }}','{{ url_for('static', filename="img/background.jpg") }}','{{ url_for('static', filename="img/submit.png") }}','{{ url_for('static', filename="img/retry.png") }}'); // ゲームに使う素材を予め読み込み
    var URL = "http://127.0.0.1:5000/insert_result/{{ id }}";
    game_.onload = function() { // ゲームの準備が整ったらメインの処理を実行します

        /**
        * タイトルシーン
        *
        * タイトルシーンを作り、返す関数です。
        */
        var createStartScene = function() {
          var score = 0;  // データ取得

            var scene = new Scene();                   // 新しいシーンを作る
            scene.backgroundColor = '#00b400';         // シーンの背景色を設定

            // スタート画像設定
            var startImage = new Sprite(142, 42);      // スプライトを作る
            startImage.image = game_.assets['{{ url_for('static', filename="img/start.png") }}']; // 画像を設定
            startImage.x = 83;                         // 横位置調整
            startImage.y = 157;                        // 縦位置調整
            scene.addChild(startImage);                // シーンに追加

             // タイトル画像設定
            var titleImage = new Sprite(320, 80);      // スプライトを作る
            titleImage.image = game_.assets['{{ url_for('static', filename="img/title.png") }}']; // 画像を設定
            titleImage.x = 5;                         // 横位置調整
            titleImage.y = 77;                        // 縦位置調整
            scene.addChild(titleImage);                // シーンに追加

            // ランキングラベル設定
            var rankLabel = new Label('');   // ラベルを作る
            rankLabel.text = "今の１位は"+score+"点です！";
            rankLabel.width = 200;
            rankLabel.textAlign = 'center';                // 文字を中央寄せ
            rankLabel.color = 'black';                   // 文字を白色に
            rankLabel.x = 60;                               // 横位置調整
            rankLabel.y = 56;                              // 縦位置調整
            rankLabel.font = '18px sans-serif';            // 28pxのゴシック体にする
            scene.addChild(rankLabel);                     // シーンに追加

            // 説明ラベル設定
            var info = new Label('STARTをおしたらはじまるよ！ / タッチでとぶ！'); // ラベルを作る
            info.width = 320;
            info.textAlign = 'center';                 // 文字を中央寄せ
            info.color = '#ffffff';                    // 文字を白色に
            info.x = 0;                                // 横位置調整
            info.y = 222;                              // 縦位置調整
            info.font = '14px sans-serif';             // 28pxのゴシック体にする
            scene.addChild(info);                      // シーンに追加

            // スタート画像にタッチイベントを設定
            startImage.addEventListener(Event.TOUCH_START, function(e) {
                // 現在表示しているシーンをゲームシーンに置き換える
                game_.replaceScene(createGameScene());
            });

            // タイトルシーンを返します。
            return scene;

        };

        /**
        * ゲームシーン
        *
        * ゲームシーンを作り、返す関数です。
        */
        var createGameScene = function() {

            var scroll = 0; // スクロール量を記録する変数
            var SCROLL_SPEED = 4.26666667;   // スクロールの速さ(固定)
            var PUSH_SCORE = 1;
            // 制限時間
            var LIMIT_TIME = 15;

            var scene = new Scene();                   // 新しいシーンをつくる
            scene.backgroundColor = '#00BFFF';         // シーンの背景色を設定

            // スクロールする背景1の設定
            var bg = new Sprite(320, 1280);            // スプライトをつくる
            bg.image = game_.assets['{{ url_for('static', filename="img/background.jpg") }}']; // 画像を設定
            bg.x = 0;                                 // 横位置調整
            bg.y = -960;                              // 縦位置調整
            scene.addChild(bg);                       // シーンに追加

            // スコア表示用ラベルの設定
            var scoreLabel = new Label("0ｍなう！");            // ラベルをつくる
            scoreLabel.color = '#0000FF';                 // 白色に設定
            scoreLabel.x = 10;
            scoreLabel.y = 10;
            scene.addChild(scoreLabel);                // シーンに追加

      var timeLabel = new Label();
      var time = LIMIT_TIME;
      timeLabel.x = 90;
      timeLabel.color = '#FF0000';
      timeLabel.font  = "32px 'Consolas', 'Monaco', 'ＭＳ ゴシック'";
      timeLabel.text = 'Time: ' + time;
      timeLabel.addEventListener(Event.ENTER_FRAME,function(e){
        if(game_.frame % game_.fps == 0){
          time --;
          this.text = 'Time: ' + time;
          if(time <= 0)
            game_.pushScene(createGameoverScene(scroll)); // ゲームオーバーシーンをゲームシーンに重ねる(push)
        }
      });
      scene.addChild(timeLabel);

            // くまの設定
            var eago = new Sprite(196, 196);             // スプライトをつくる
            eago.image = game_.assets['{{ url_for('static', filename="img/eago1.png") }}']; // 画像を設定
            eago.x = 50;                               // 横位置調整 画面左側に配置
            eago.y = 230;        // 縦位置調整 くまの下端を地面の高さに合わせる
            eago.scale(0.3,0.3)
            scene.addChild(eago);                      // シーンに追加


            // くまがやられた関数
            var eagoDead = function() {
                game_.pushScene(createGameoverScene(scroll)); // ゲームオーバーシーンをゲームシーンに重ねる(push)
            }

            /*
            // 毎フレームイベントをシーンに追加
            scene.addEventListener(Event.ENTER_FRAME, function(){

            });
            */

            // シーンのクリックリスナー
            scene.addEventListener(Event.TOUCH_START, function(){

                scroll += PUSH_SCORE;                       // 走った距離を記録
                scoreLabel.text = scroll.toString()+'ｍなう！'; // スコア表示を更新

                if(scroll%2==1){
                  eago.image = game_.assets['{{ url_for('static', filename="img/eago2.png") }}']; // 画像を設定
                } else {
                  eago.image = game_.assets['{{ url_for('static', filename="img/eago1.png") }}']; // 画像を設定
                }

                // 背景をスクロールさせる
                if(scroll>=150){
                  bg.y += SCROLL_SPEED*1.08;                // 背景をスクロール
                } else if(scroll>=50){
                  bg.y += SCROLL_SPEED;                // 背景をスクロール
                } else {
                  eago.y -= SCROLL_SPEED*4/5;
                }


            });

            //ゲームシーンを返します
            return scene;
        }


        /**
        * ゲームオーバーシーン
        *
        * ゲームオーバーシーンを作り、返す関数です。
        */
        var createGameoverScene = function(scroll) {

            var scene = new Scene();                                   // 新しいシーンを作る
            scene.backgroundColor = 'rgba(0, 0, 0, 0.5)';              // シーンの背景色を設定

            // リトライボタンを設定
            var buttonRetry = new Sprite(180, 50);                     // スプライトを作る
            buttonRetry.image = game_.assets['{{ url_for('static', filename="img/retry_button.png") }}'];// 画像を設定
            buttonRetry.x = 150;                                         // 横位置調整
            buttonRetry.y = 230;                                       // 縦位置調整
            buttonRetry.scale(0.7,0.7)
            scene.addChild(buttonRetry);                               // シーンに追加

            // 結果送信ボタンを設定
            var buttonSubmit = new Sprite(180, 50);                     // スプライトを作る
            buttonSubmit.image = game_.assets['{{ url_for('static', filename="img/submit.png") }}'];      // 画像を設定
            buttonSubmit.x = 0;                                       // 横位置調整
            buttonSubmit.y = 230;                                       // 縦位置調整
            buttonSubmit.scale(0.7,0.7)
            scene.addChild(buttonSubmit);                               // シーンに追加

            // リトライボタンにタッチイベントを追加する
            buttonRetry.addEventListener(Event.TOUCH_END, function(){
                game_.popScene();                                      // このシーンを剥がす（pop）
                game_.replaceScene(createStartScene());                // ゲームシーンをタイトルシーンと入れ替える(replace)
            });

            // 結果送信ボタンにタッチイベントを追加する
            buttonSubmit.addEventListener(Event.TOUCH_END, function(){
                var score = scroll;
                // リダイレクトの例
                location.href=URL+"/"+score;
            });

            // スコア表示用ラベルの設定
            var scoreLabel = new Label(scroll.toString());             // ラベルを作る
            scoreLabel.width = 320;                                    // 幅を設定
            scoreLabel.textAlign = 'center';                           // 文字を中央寄せ
            scoreLabel.color = '#ffffff';                              // 文字を白色に
            scoreLabel.x = 0;                                          // 横位置調整
            scoreLabel.y = 12;                                         // 縦位置調整
            scoreLabel.font = '96px sans-serif';                       // 28pxのゴシック体にする
            scene.addChild(scoreLabel);                                // シーンに追加

            // スコア説明ラベル設定
            var scoreInfoLabel = new Label('ｍ飛んだよ！');            // ラベルを作る
            scoreInfoLabel.width = 320;                                // 幅を設定
            scoreInfoLabel.textAlign = 'center';                       // 文字を中央寄せ
            scoreInfoLabel.color = '#ffffff';                          // 文字を白色に
            scoreInfoLabel.x = 0;                                      // 横位置調整
            scoreInfoLabel.y = 130;                                    // 縦位置調整
            scoreInfoLabel.font = '32px sans-serif';                   // 28pxのゴシック体にする
            scene.addChild(scoreInfoLabel);                            // シーンに追加

            // ガチャ枚数ラベル設定
            var gacha = 0;
            if(scroll>=200){
              gacha = 3;
            } else if(scroll>=150) {
              gacha = 2;
            } else if(scroll>=0) {
              gacha = 1;
            }

            var GachaInfoLabel = new Label('ガチャ券');            　　　// ラベルを作る
            GachaInfoLabel.text = "ガチャ券"+gacha+"枚ゲット！！"
            GachaInfoLabel.width = 320;                                // 幅を設定
            GachaInfoLabel.textAlign = 'center';                       // 文字を中央寄せ
            GachaInfoLabel.color = '#ffffff';                          // 文字を白色に
            GachaInfoLabel.x = 0;                                      // 横位置調整
            GachaInfoLabel.y = 180;                                    // 縦位置調整
            GachaInfoLabel.font = '28px sans-serif';                   // 28pxのゴシック体にする
            scene.addChild(GachaInfoLabel);                            // シーンに追加

            // ゲームオーバーシーンを返します。
            return scene;

        };

        // ゲームの_rootSceneをスタートシーンに置き換える
        game_.replaceScene(createStartScene());

    }

    game_.start(); // ゲームをスタートさせます

}
    </script>

  </head>
  <body>
  <!-- ここにゲームが表示されます。 -->
  </body>
</html>