<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>スロット</title>
<meta name="Description" content="" />
<meta name="Keywords"  content="" />
<link rel="stylesheet" type="text/css" media="screen,print" href="{{ url_for('static', filename='css/slot.css') }}" />
<script type="text/javascript">
var $countA = 3;
function countDown() {
	if($countA>0){
    document.getElementById( "num" ).innerHTML = --$countA;
	}
	if($countA==0){
		 document.getElementById("btn_start").style.visibility = "hidden";
	}
}

</script>
</head>
<body>

<h3>おみくじ</h3>

<h5>
	残り回数：
	<span id ="num">{{ num }}</span>
</h5>



<div id="slot1">
	<ul>
	  <li>３等</li>
	  <li>ハズレ</li>
	  <li>ハズレ</li>
	  <li><FONT color="blue">2等</font></li>
	  <li>ハズレ</li>
	  <li>ハズレ</li>
	  <li>ハズレ</li>
	  <li><FONT color="red">1等</font></li>
	  <li>ハズレ</li>
	  <li>ハズレ</li>
	</ul>
</div>
<br>
<div id ="btn">
	<div id="btn_start"><button href="#" onclick="s1.start(),countDown(); $('console'); return false;">スタート</button></div>

	<button href="#" onclick="s1.stop(); return false;">ストップ</button>
</div>
<a href="/ranking/{{ id }}">ランキングをみる</a>
<script type="text/javascript" src="http://jsdo.it/lib/prototype-1.6.1/js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/slot.js') }}"></script>
</body>
</html>