<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>HTML 5 complete</title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

<![endif]-->

<link rel="stylesheet" type="text/css" href="css/html5reset-1.6.1.css">
<style>
  article, aside, dialog, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
</style>
</head>
<body>
  <p>id:{{ id  }}</p>
  <p>result:{{ result }}</p>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
