ul, li{
  padding: 0px;
  margin: 0px;
}

.slot {
  padding:0px;
  margin: 0px;

  height: 40px;
  overflow: hidden;
  border: 1px solid #9C9C9C;
  
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(171,171,171)),
    color-stop(0.5, rgb(230,230,230)),
    color-stop(1, rgb(171,171,171))
  );
  
  background: -moz-linear-gradient(
    center bottom,
    rgb(171,171,171) 0%,
    rgb(230,230,230) 50%,
    rgb(171,171,171) 100%
  );

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
 button{
  width : 40%; 
  height: 50px;
 }

.slot ul {
  margin: 0px 0px 40px 0px;
}

.slot ul li {
  font-family: 'メイリオ',Meiryo,'Osaka',cursive;
  /*padding-left: 5px;*/
  text-align: center;
  height: 40px;
  font-size: 1.5em;
  color: #5E5E5E;
  white-space: nowrap;
}
